@using ToDoList.Domain
@model ToDoList.Api.ModelRequests.CreateTask

<div class="container">
    <h2><i class="bi bi-plus-circle text-primary"></i> Создать новую задачу</h2>

    <form method="post">
        <div class="mb-4">
            <label asp-for="Title" class="form-label"><i class="bi bi-fonts"></i> Название</label>
            <input asp-for="Title" class="form-control" required/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Description" class="form-label"><i class="bi bi-card-text"></i> Описание</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Type" class="form-label"><i class="bi bi-tags"></i> Тип</label>
            <select asp-for="Type" class="form-select"
                    asp-items="Html.GetEnumSelectList<TaskType>()">
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary px-4">
            <i class="bi bi-check-circle"></i> Создать задачу
        </button>
        <a href="/Tasks" class="btn btn-outline-secondary">Отмена</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}